## directories to ignore
node_modules
dist

## file extensions to ignore
*.png
*.jpg
*.svg
*.gif
*.ico
*.txt
*.env
*.md

## files to ignore
package.json
package-lock.json
.gitignore
.gitmodules
.env.example
Dockerfile
